@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://unpkg.com/normalize.css@8.0.1/normalize.css');

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-y: hidden; */
}

.remove-focus-outline:focus {
  outline:0;
}

.container {
  text-align: center;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .container-flex {
    margin-top: 1rem;
  }  
}

.attention {
  color: #e74c3c;
}

button {
  padding: 0.625rem 0.9375rem;
  font-weight: bold;
  cursor: pointer;
  color: #262626;
  text-align: center;
  border: 2px solid #262626;
  background: transparent;
  border-radius: 3px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.image-controls__block {
  margin: 1rem auto 1.4rem auto;
}

.image-controls__block input {
  border-color: transparent;
  border-bottom-color: #262626;
}

.image-controls__footer {
  margin: 0.2rem 0 0.5rem 0;
}

.image-controls__footer .attention {
  cursor: pointer;
}

button:hover {
  background-color: #e1e1e1;
}

img {
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #000;
}

figure {
  position: relative;
  display: inline-block;
  margin: 1rem;
  top: 0;
}

figcaption {
  text-align: left;
  font-weight: bold;
}

figure.image-preview {
  margin: 0;
}

.tooltip {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: lightseagreen;
}

/* custom img input */
.image-input {

}
.image-input {
  color: transparent;
}
.image-input::-webkit-file-upload-button {
  content: '';
  visibility: hidden;
}
.image-input::before {
  content: 'Upload your photo';
  color: #262626;
  display: inline-block;
  text-align: center;
  border: 2px solid #262626;
  border-radius: 3px;
  padding: 0.625rem 0.9375rem;
  width: calc(100% - 2.1rem);
  cursor: pointer;
  font-weight: 700;
}
/* .image-input:hover::before {
  background-color: #e1e1e1;
} */
.image-input:active {
  outline: 0;
}
/* custom img input */

.tooltip-icon {
  position: absolute;
  color: white;
  background-color: black;
  font-size: 1.5rem;
  border-radius: 100%;
  border: 0.125rem;
}

.tooltip-icon:hover {
  background-color: black;
}

.tooltip-message {
  display: none;
}

.tooltip-icon:hover .tooltip-message {
  display: block;
  position: absolute;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: black;
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  top: -2rem;
  left: -50%;
}

/* alert */
.alert {
  padding: 0.75rem 1.25rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/* Modified tooltip code from here: https://webdesign.tutsplus.com/tutorials/css-tooltip-magic--cms-28082
*/

[tooltip] {
  /* position: relative; */
}

[tooltip]::before,
[tooltip]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
  text-transform: none; 
  font-size: .9rem;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
  z-index: 1001;
}
[tooltip]::after {
  content: attr(tooltip); 
  text-align: center;
  min-width: 3rem;
  max-width: 21rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  bottom: calc(100% + 5px);
  z-index: 1000; 
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:hover::before,
[tooltip]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

/* -------------- */

/* .tooltip-icon:hover {
  transform: translateY(-0.25rem);
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5)
} */
/* Navigation */
#single-line-menu ul {
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #262626;
}
  #single-line-menu li {
    align-self: center;
  }
    #single-line-menu li button {
      font-weight: bold;
      border: 2px solid white;
      border-radius: 3px;
      background-color: transparent;
      color: white;
    }
      #single-line-menu li button:hover {
        background: #404040;
      }

@media screen and (min-width: 480px) {
  #single-line-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } 
  
  #single-line-menu li {
    flex: 1 0 auto;
    text-align: center;
  }
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  padding: 1rem 0;
  text-align: center;
  color: white;
  font-weight: bold;
  background: #262626;
}